*~
*.pyc
__pycache__
argsconf.json
project/code/
project/config/
project/logs/
project/requirements.txt
project/systemrequirements.txt
templates/basicdjango/dev/docker-compose.yml
templates/basicdjango/dev/docker/web/common_requirements.txt
templates/basicdjango/dev/docker/web/common_systemrequirements.txt
templates/basicdjango/dev/docker/web/project_requirements.txt
templates/basicdjango/dev/docker/web/project_systemrequirements.txt
templates/basicdjango/dev/project
templates/basicdjango/prod/docker-compose.yml
templates/basicdjango/prod/docker/web/common_requirements.txt
templates/basicdjango/prod/docker/web/common_systemrequirements.txt
templates/basicdjango/prod/docker/web/project_requirements.txt
templates/basicdjango/prod/docker/web/project_systemrequirements.txt
templates/basicdjango/prod/project
templates/djangocelery/dev/docker-compose.yml
templates/djangocelery/dev/docker/tasks/common_requirements.txt
templates/djangocelery/dev/docker/tasks/common_systemrequirements.txt
templates/djangocelery/dev/docker/tasks/project_requirements.txt
templates/djangocelery/dev/docker/tasks/project_systemrequirements.txt
templates/djangocelery/dev/docker/web/common_requirements.txt
templates/djangocelery/dev/docker/web/common_systemrequirements.txt
templates/djangocelery/dev/docker/web/project_requirements.txt
templates/djangocelery/dev/docker/web/project_systemrequirements.txt
templates/djangocelery/dev/project
templates/djangocelery/prod/docker-compose.yml
templates/djangocelery/prod/docker/tasks/common_requirements.txt
templates/djangocelery/prod/docker/tasks/common_systemrequirements.txt
templates/djangocelery/prod/docker/tasks/project_requirements.txt
templates/djangocelery/prod/docker/tasks/project_systemrequirements.txt
templates/djangocelery/prod/docker/web/common_requirements.txt
templates/djangocelery/prod/docker/web/common_systemrequirements.txt
templates/djangocelery/prod/docker/web/project_requirements.txt
templates/djangocelery/prod/docker/web/project_systemrequirements.txt
templates/djangocelery/prod/project
