version: '2'

services:
  %(docker_db_name)s:
    image: postgres
  %(docker_web_name)s:
    build: ./docker/web
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./project/code:/project/code
    ports:
      - "%(docker_host_port)s:8000"
    depends_on:
      - %(docker_db_name)s